
prj/.vs/sln/v14/.suo
prj/DirectX11Sample/Debug
prj/Debug
prj/sln.VC.db
prj/sln.VC.VC.opendb
prj/prj.VC.db
prj/ipch/DIRECTX11SAMPLE-df8691c5/DIRECTX11SAMPLE-4995eb43.ipch
prj/DirectX11Sample/DirectX11Sample.vcxproj.user
